<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<Files .env>
    Order allow,deny
    Deny from all
</Files>

<Files config>
    Order Deny, Allow
    Deny from all
</Files>

<IfModule mime_module>
    AddHandler application/x-httpd-ea-php82.php .php8.phtml
</IfModule>
